@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Roboto:ital,wght@0,400;1,300&family=Rubik:wght@400;500;700&display=swap');

body {
  background-color: #2C302E;
  font-family: Poppins;
  line-height: 23px;
}

h1 {
  color: #243E36;
  font-family: Rubik;
  font-size: 19px;
  letter-spacing: 2px;
}

h2 {
  color: #243E36;
  font-family: Rubik;
  font-size: 16px;
}

.img-circle {
  border-radius: 50%;
}

ul{
  padding: 0;
}

.button {
  background-color: #55917F;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 8px;
  text-align: center;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #243E36;
  font-size: 15px;
}

a:hover {
  text-decoration: none;
  background-color: #243E36;
  color: #0cbf89;
  font-size: 15px;
}

.container {
  width: 500px;
  margin: 0 auto;
  justify-content: center;
}

.card{
  background-color: #CBB9A8;
  padding: 50px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 5px;
  margin: 16px 16px;
  text-align: center;
}

.social_display{
  display: inline-block;
}
